###############################################
# IGNORAR DEPENDENCIAS
###############################################
# Node modules (NO subir nunca)
node_modules/
front/node_modules/
back/node_modules/

###############################################
# IGNORAR BUILDS / ARCHIVOS GENERADOS AUTOMÁTICAMENTE
###############################################
# Build de Angular (frontend)
front/dist/
front/.angular/

# Build del backend (Nest compila aquí)
back/dist/

# Build del frontend copiado al backend
back/public/

###############################################
# ARCHIVOS DE ENTORNO (CONTRASEÑAS)
###############################################
back/.env
.env

###############################################
# LOGS Y ARCHIVOS TEMPORALES
###############################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

###############################################
# SISTEMA / EDITOR / CACHE
###############################################
.DS_Store
Thumbs.db
.idea/
.vscode/
