<h2 mat-dialog-title>
  <mat-icon>assignment</mat-icon>
  {{ data.mode === 'view' ? 'Detalle de Actividad' : 'Editar Actividad' }}
</h2>

<mat-dialog-content class="content">
  <div *ngIf="loading">Cargando...</div>

  <div *ngIf="!loading && errorMsg" class="error">
    {{ errorMsg }}
  </div>

  <form *ngIf="!loading && !errorMsg" [formGroup]="form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Objetivo</mat-label>
      <textarea matInput rows="3" formControlName="objetivo"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput rows="4" formControlName="descripcion"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sede</mat-label>
      <input matInput formControlName="sede" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha inicio</mat-label>
      <input matInput type="date" formControlName="fechaInicio" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha término</mat-label>
      <input matInput type="date" formControlName="fechaTermino" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Resultados</mat-label>
      <textarea matInput rows="3" formControlName="resultados"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cerrar()">Cerrar</button>

  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="guardar()"
    [disabled]="isView || saving || loading"
  >
    <mat-icon>save</mat-icon>
    Guardar
  </button>
</mat-dialog-actions>
