<div class="login-wrapper">
  <!-- overlay para que la foto no moleste -->
  <div class="login-background"></div>

  <mat-card class="login-card">
    <!-- Header con icono (igual estilo login) -->
    <div class="login-header">
      <div class="login-icon">
        <mat-icon>lock_reset</mat-icon>
      </div>

      <div>
        <h1 class="title">Recuperar contraseña</h1>
        <p class="subtitle">
          Ingresa tu correo institucional y te enviaremos una contraseña provisional si tu cuenta existe.
        </p>
      </div>
    </div>

    <mat-divider class="login-divider"></mat-divider>

    <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo institucional</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Ingresa un correo válido
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="full-width login-btn"
        type="submit"
        [disabled]="loading">
        {{ loading ? 'Enviando...' : 'Enviar contraseña provisional' }}
      </button>

      <button
        mat-button
        type="button"
        class="full-width back-btn"
        (click)="backToLogin()">
        Volver al inicio de sesión
      </button>
    </form>
  </mat-card>
</div>
